In [87]:
#How-to-count-distance-to-the-previous-zero
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) 
series = pd.Series(df["X"]).values.tolist() 
indexZero = []
res = [] 
for index, w in enumerate(series):
    if w == 0:
        indexZero.append(index)
for index, w in enumerate(series):
    if w == 0:
        res.append(w)
    else:
        res.append(min(list(map(lambda x: abs(index-x), indexZero))))
df["Y"] = res
df

   X  Y
0  7  2
1  2  1
2  0  0
3  3  1
4  4  2
5  2  2
6  5  1
7  0  0
8  3  1
9  4  2

In [119]:
#function to find moving average in an array over a window:
l = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
length = len(l)
k=3
reslist = []
res = 0
klist = list(range(k))
for i in range(10):
    if i <= length - k:
        for j in klist:
            res += l[j+i]
        reslist.append(res/k)
    res = 0
reslist

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333]

In [73]:
from datetime import datetime
import numpy as np
import numpy.random as rn

In [67]:
date_rng = pd.date_range(start="1/1/2015", end = "31/12/2015", freq="B")
date_rng

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [75]:
series = pd.Series(rn.rand(len(date_rng)), index = date_rng)
series

2015-01-01    0.698516
2015-01-02    0.672260
2015-01-05    0.830848
2015-01-06    0.982325
2015-01-07    0.181641
2015-01-08    0.048946
2015-01-09    0.033766
2015-01-12    0.628650
2015-01-13    0.984764
2015-01-14    0.305559
2015-01-15    0.443062
2015-01-16    0.551597
2015-01-19    0.147595
2015-01-20    0.632564
2015-01-21    0.844069
2015-01-22    0.987080
2015-01-23    0.171269
2015-01-26    0.327863
2015-01-27    0.123431
2015-01-28    0.003992
2015-01-29    0.079108
2015-01-30    0.879166
2015-02-02    0.782162
2015-02-03    0.517967
2015-02-04    0.404311
2015-02-05    0.985497
2015-02-06    0.577839
2015-02-09    0.681201
2015-02-10    0.691712
2015-02-11    0.440690
                ...
2015-11-20    0.334199
2015-11-23    0.951511
2015-11-24    0.652088
2015-11-25    0.668282
2015-11-26    0.869083
2015-11-27    0.502102
2015-11-30    0.770890
2015-12-01    0.347414
2015-12-02    0.556632
2015-12-03    0.029834
2015-12-04    0.681360
2015-12-07    0.975668
2015-12-08    0.677736
2015-12-09    0.747150
2015-12-10    0.068597
2015-12-11    0.400591
2015-12-14    0.470584
2015-12-15    0.275234
2015-12-16    0.806851
2015-12-17    0.266948
2015-12-18    0.570426
2015-12-21    0.188404
2015-12-22    0.945841
2015-12-23    0.699303
2015-12-24    0.369441
2015-12-25    0.252291
2015-12-28    0.973511
2015-12-29    0.061760
2015-12-30    0.623636
2015-12-31    0.885636
Freq: B, Length: 261, dtype: float64

In [77]:
#sum of values of each wednesday index
series[date_rng.dayofweek == 2].sum()

24.7335480477106

In [83]:
for i in range(1,13):
    print("avg for month {}:".format(i) , series[date_rng.month == i].mean())

avg for month 1: 0.479912237574271
avg for month 2: 0.6357097428190097
avg for month 3: 0.5417797195724089
avg for month 4: 0.47482990113109885
avg for month 5: 0.4492286025781219
avg for month 6: 0.48499530418097875
avg for month 7: 0.5579425054219784
avg for month 8: 0.4825215250866877
avg for month 9: 0.5368612058076034
avg for month 10: 0.49997434839392874
avg for month 11: 0.57576283085701
avg for month 12: 0.5162977587211033

In [85]:
series.groupby(pd.Grouper(freq='4M')).max()

2015-01-31    0.987080
2015-05-31    0.985497
2015-09-30    0.994101
2016-01-31    0.993249
Freq: 4M, dtype: float64