In [1]:
print("numbers divisible by 7 but not 5 multiples \n")
x=2000;
y=3200;
res = []
while x <= y:
    if (x % 5 != 0 and x % 7 ==0):
        res.append(x)
    x += 1
print(res)

numbers divisible by 7 but not 5 multiples

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
print("\n First name and last name \n")
FirstName = input("enter first name: ")
LastName = input("enter last name: ")
print(LastName," ",FirstName)

 First name and last name

enter first name:  mani
enter last name:  kumar

kumar   mani

In [3]:
print("\n sphere volume \n") 
r_string = input('enter radius value: ')
r = int(r_string)
res = (4/3) * (22/7) * (r*r*r)
print("volume = ", res)

 sphere volume

enter radius value:  12

volume =  7241.142857142856

In [4]:
print("\n Word reverse \n") 
r_string = input('enter word to reverse: ')
len_string = len(r_string)
rev_string = str()
i = 0
while len_string - 1 >= i:
    rev_string = rev_string + r_string[len_string - 1]
    len_string -= 1
print("reversed string: ",rev_string)

 Word reverse

enter word to reverse:  manikumar

reversed string:  ramukinam

In [5]:
print("\n Stars \n") 
stars = input("max no. of stars to be printed: ")
int_stars = int(stars)
for x in range(0, int_stars+1):
    if(x == int_stars):
        #print("x value",x)
        for i in range (int_stars, 0 , -1):
            #print("i value", i)
            for z in range (i, 0 , -1):
                if (z == 1):
                    print("*\n")
                else:
                    print("* ", end='')
    else:
        for y in range (0, x):
            if (y == x-1):
                print("*\n")
            else:
                print("* ", end='')

 Stars

max no. of stars to be printed:  7

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [6]:
print("print numbers taking from user input \n")
strList = input("enter numbers separated by comma: ")
numList = strList.split(",")
print(numList)

print numbers taking from user input

enter numbers separated by comma:  12,23,456,785,234

['12', '23', '456', '785', '234']

In [7]:
print("print string\n")
print("WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN,! \n \t \t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n \t \t and to secure to all its citizens")

print string

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
 	 	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	 and to secure to all its citizens